.bpfooter a {text-decoration: none !important;}
.bpfooter a:hover {text-decoration: underline !important;}
.bpTitleCase {text-transform: capitalize !important;}
.fynuxm {top: 2px !important;}
html {font-weight: 300;}
.odnShow {display: block !important;}
.odnHide {display: none !important;}