/* General stuff */
.bpTitleCase {text-transform: capitalize !important;}
html {font-weight: 300;}
form._form {font-weight: 500;}

/* Footer links */
.bpfooter a {text-decoration: none !important;}
.bpfooter a:hover {text-decoration: underline !important;}

/* Show and hide stuff  */
.odnShow {display: block !important;}
.odnHide {display: none !important;}

/* Video margin */
.fynuxm {top: 2px !important;}